<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="small">
      Bienvenido {{nameDoctor}}
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="closeSesion()">
        <ion-icon slot="icon-only" name="close-circle" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <form #addForm [formGroup]="doctorForm" (ngSubmit)="onSaveForm()" *ngIf="edit == false">
    <ion-row>
      <ion-col size="12">
        <h3 class="textoIndicaciones">Recuerda que los datos que ingreses serán vistos en la página web, en la sección
          de tu especialidad.</h3>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-item>
            <ion-label position="floating">Frase corta</ion-label>
            <ion-textarea formControlName="fraseCorta" placeholder="máximo 100 carácteres." rows="3" cols="20"
              minlength="20" maxlength="100"></ion-textarea>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label position="floating">Sobre mi</ion-label>
            <ion-textarea formControlName="fraseExtend" placeholder="máximo 300 carácteres." rows="7" cols="20"
              minlength="20" maxlength="300"></ion-textarea>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label position="floating">Enfermedades que trato</ion-label>
            <ion-textarea formControlName="enferquetrato" placeholder="máximo 200 carácteres." rows="5" cols="20"
              minlength="20" maxlength="200"></ion-textarea>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label position="floating">Formación y entrenamiento</ion-label>
            <ion-input formControlName="formacionUno" placeholder="máximo 100 carácteres." type="text" minlength="20"
              maxlength="200"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Formación y entrenamiento</ion-label>
            <ion-input formControlName="formacionDos" placeholder="máximo 100 carácteres." type="text" minlength="20"
              maxlength="200"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Formación y entrenamiento</ion-label>
            <ion-input formControlName="formacionTres" placeholder="máximo 100 carácteres." type="text" minlength="20"
              maxlength="200"></ion-input>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-card>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">CMP</ion-label>
              <ion-input formControlName="cmp" type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">RNE</ion-label>
              <ion-input formControlName="rne" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-col size="12" class="marginb">
        <ion-button type="submit" expand="block" color="primary">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <div *ngIf="edit == true">
    <ion-row>
      <ion-col size="12">
        <h3 class="textoIndicaciones">Esta es la data que se muestra actualmente en la web.</h3>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-item>
            <ion-label position="floating">Frase corta</ion-label>
            <ion-textarea placeholder="máximo 100 carácteres." rows="3" cols="20"
              minlength="20" maxlength="100" value="{{dataDoctorGuardada.shortSpeach}}"></ion-textarea>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label position="floating">Sobre mi</ion-label>
            <ion-textarea placeholder="máximo 300 carácteres." rows="7" cols="20"
              minlength="20" maxlength="300" value="{{dataDoctorGuardada.longSpeach}}"></ion-textarea>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label position="floating">Enfermedades que trato</ion-label>
            <ion-textarea placeholder="máximo 200 carácteres." rows="5" cols="20"
              minlength="20" maxlength="200" value="{{dataDoctorGuardada.enferquetrato}}"></ion-textarea>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label position="floating">Formación y entrenamiento</ion-label>
            <ion-input  placeholder="máximo 100 carácteres." type="text" minlength="20"
              maxlength="200" value="{{dataDoctorGuardada.professionalTrainings[0].data}}"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Formación y entrenamiento</ion-label>
            <ion-input placeholder="máximo 100 carácteres." type="text" minlength="20"
              maxlength="200" value="{{dataDoctorGuardada.professionalTrainings[1].data}}"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Formación y entrenamiento</ion-label>
            <ion-input placeholder="máximo 100 carácteres." type="text" minlength="20"
              maxlength="200" value="{{dataDoctorGuardada.professionalTrainings[2].data}}"></ion-input>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-card>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">CMP</ion-label>
              <ion-input type="text" value="{{dataDoctorGuardada.professionalCodes[0].codeValue}}"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating" >RNE</ion-label>
              <ion-input type="text" value="{{dataDoctorGuardada.professionalCodes[1].codeValue}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
  </div>
</ion-content>
